<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willy Face</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="eyes-container">
            <div class="eye left-eye" id="leftEye">
                <div class="eyeball"></div>
            </div>
            <div class="eye right-eye" id="rightEye">
                <div class="eyeball"></div>
            </div>
        </div>
        <div class="controls">
            <button class="shape-btn" title="Idle"></button>
            <button class="shape-btn" title="Felicidade"></button>
            <button class="shape-btn" title="Tristeza"></button>
            <button class="shape-btn" title="Raiva"></button>
            <button class="shape-btn" title="Pensando"></button>
            <button class="shape-btn" title="Escutando"></button>
            <button onclick="setFullscreen()">Enter Fullscreen</button>
            <button onclick="startWebMic('192.168.3.11', 2567, 512)">Enter Fullscreen</button>
        </div>
    </div>
    <script src="static/glowingeyes.js"></script>
    <script src="static/webmic.js"></script>
    <script>
        function setFullscreen() {
            if (document.documentElement.requestFullscreen) {
                  document.documentElement.requestFullscreen();
                } else if (document.documentElement.mozRequestFullScreen) { /* Firefox */
                  document.documentElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                  document.documentElement.webkitRequestFullscreen();
                } else if (document.documentElement.msRequestFullscreen) { /* IE/Edge */
                  document.documentElement.msRequestFullscreen();
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            
            
            const glowingEyes = new GlowingEyes();
            window.glowingEyes = glowingEyes;
            const ip = window.location.hostname;

            

            setInterval(async () => {
                try {
                    const emotion = await fetch("/emotion").then(response => response.text());

                    if (emotion != glowingEyes.getCurrentEmotion())
                        glowingEyes.setEmotion(emotion);
                        
                }
                catch {
                    console.error("Erro ao pegar emotion.")
                }
            }, 100)
        });
    </script>
</body>
</html>